{{define `head`}}<!DOCTYPE html>
<html>
  <head>
    <title>Wunschliste</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/bulma.min.css">
    <script>
      document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      });
    </script>
  </head>
  <body>
    <section class="section">
    <div class="container">
    {{if not .}}
    <nav class="navbar" role="navigation">
      <div class="navbar-brand">
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Meine Wunschliste
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Wunschlisten
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item">
                Test1
              </a>
              <a class="navbar-item">
                Test2
              </a>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-light" href="/logout">
                Logout
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    {{end}}
{{end}}
