{{define `wishlist`}}
{{$canEdit := .CanEdit}}
{{$canReserve := .CanReserve}}
<section class="section container">
  {{if $canEdit}}
    <div class="container">
      <a class="button is-primary" href="wish">Neuer Wunsch</a>
    </div>
  {{end}}
  <table class="table is-striped is-fullwidth">
    <thead>
      <th>Wunsch</th>
      <th>URL</th>
      <th>Preis</th>
      {{if $canEdit}}
        <th>Bearbeiten</th>
        <th>Löschen</th>
      {{end}}
      {{if $canReserve}}
        <th>Reservieren</th>
      {{end}}
    </thead>
    {{range .Wishs}}
    <tr>
      <td>{{.Name}}</td>
      <td><a href={{.Link}}>{{.Link}}</a></td>
      <td>{{printf "%.2f" .Price}}€</td>
      {{if $canEdit}}
        <td><a class="button is-warning" href="/wish/{{.Id}}/edit">Bearbeiten</a></td>
        <td><a class="button is-danger" href="/wish/{{.Id}}/delete">Löschen</a></td>
      {{end}}
      {{if $canReserve}}
        {{$strLen := len .Reserved}}
        {{if eq $strLen 0}}
          <td><a class="button is-primary" href="/list/{{.User}}/wish/{{.Id}}/reserve">Reservieren</a></td>
        {{else}}
          <td><a class="button is-primary" href="/list/{{.User}}/wish/{{.Id}}/unreserve">Unreserve</a></td>
        {{end}}
      {{end}}
    </tr>
    {{else}}
    <tr>
      <td colspan="0">Empty</td>
    </tr>
    {{end}}
  </table>
</section>
{{template `foot`}}
{{end}}
